

 <nb-card size="medium">  
    <nb-card-header>
      <span>Matriz de Trazabilidad</span>
      <div class="dropdown ghost-dropdown" >
          <table class="table table-striped"  >
            <thead>
                <tr>
                  <nb-card-body>
                    <button  (click)="open('CU004','RF02_GES_USU_ALU')" style="background-color: rgb(8, 209, 216)">X</button>
                  </nb-card-body>
                </tr>
              </thead>
            </table>
      </div>
    </nb-card-header>
    <nb-card-body>
      <ul class="dropdown ghost-dropdown">
                <table class="table table-striped"  >
                  <thead>
                    <tr>
                      <th scope="col">C.U./R.F.</th>
                      <!-- <ng-container *ngFor="let country of listaReqFuncional">
                        <th scope="col" style="text-align: center">{{country.name}}</th>
                      </ng-container> -->
                      <th scope="col" nbTooltip="Autenticación de Usuario" style="text-align: center">RF01</th>
                      <th scope="col" nbTooltip="Gestión de Usuarios Alumnos" style="text-align: center">RF02</th>
                      <th scope="col" nbTooltip="Gestión de Usuarios Docentes" style="text-align: center">RF03</th>
                      <th scope="col" nbTooltip="Gestión de Usuarios" style="text-align: center">RF04</th>
                      <th scope="col" nbTooltip="Gestión de Matrículas" style="text-align: center">RF05</th>
                      <th scope="col" nbTooltip="Gestión de Pensiones" style="text-align: center">RF06</th>
                      <th scope="col" nbTooltip="Gestión  de Asistencias  Estudiantes" style="text-align: center">RF07</th>
                      <th scope="col" nbTooltip="Gestión  de Asistencias  Administrativos" style="text-align: center">RF08</th>
                      <th scope="col" nbTooltip="Gestión  de Asistencias  Docentes" style="text-align: center">RF09</th>
                      <th scope="col" nbTooltip="Gestión de notas de los cursos" style="text-align: center">RF010</th>
                      <th scope="col" style="text-align: center">RF011</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row" nbTooltip="Visualizar alumnos" nbTooltipPlacement="top" nbTooltipStatus="success"  >CU001</th>
                    <th scope="row" ></th>
                    <th scope="row" style="text-align: center">
                        <nb-card-body>
                            <button  (click)="open('CU001','RF02_GES_USU_ALU')" style="background-color: rgb(8, 209, 216)">X</button>
                        </nb-card-body>
                    </th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                  </tr>
                  <tr>
                    <th scope="row" nbTooltip="Registrar alumnos" nbTooltipPlacement="top" nbTooltipStatus="success"  >CU002</th>
                    <th scope="row"></th>
                    <th scope="row"style="text-align: center">
                        <nb-card-body>
                            <button  (click)="open('CU002','RF02_GES_USU_ALU')" style="background-color: rgb(8, 209, 216)">X</button>
                        </nb-card-body>
                    </th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                  </tr>
                  <tr>
                    <th scope="row" nbTooltip="Modificar alumnos" nbTooltipPlacement="top" nbTooltipStatus="success" >CU003</th>
                    <th scope="row"></th>
                    <th scope="row" style="text-align: center">
                        <nb-card-body>
                            <button  (click)="open('CU003','RF02_GES_USU_ALU')" style="background-color: rgb(8, 209, 216)">X</button>
                        </nb-card-body>
                    </th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                  </tr>
                  <tr>
                    <th scope="row" nbTooltip="Eliminar alumnos" nbTooltipPlacement="top" nbTooltipStatus="success" > CU004</th>
                    <th scope="row"></th>
                    <th scope="row"style="text-align: center">
                        <nb-card-body>
                            <button  (click)="open('CU004','RF02_GES_USU_ALU')" style="background-color: rgb(8, 209, 216)">X</button>
                        </nb-card-body>
                    </th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                  </tr>
                  <tr>
                    <th scope="row" nbTooltip="Visualizar docentes" nbTooltipPlacement="top" nbTooltipStatus="success" >CU005</th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row" style="text-align: center">
                        <nb-card-body>
                            <button  (click)="open('CU005','RF03_GES_USU_DOC')" style="background-color: rgb(8, 209, 216)">X</button>
                        </nb-card-body>
                    </th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                  </tr>
                  <tr>
                      <th scope="row" nbTooltip="Registrar docentes" nbTooltipPlacement="top" nbTooltipStatus="success" >CU006</th>
                      <th scope="row"></th>
                      <th scope="row"></th>
                      <th scope="row" style="text-align: center">
                          <nb-card-body>
                              <button  (click)="open('CU006','RF03_GES_USU_DOC')" style="background-color: rgb(8, 209, 216)">X</button>
                          </nb-card-body>
                      </th>
                      <th scope="row"></th>
                      <th scope="row"></th>
                      <th scope="row"></th>
                      <th scope="row"></th>
                      <th scope="row"></th>
                      <th scope="row"></th>
                      <th scope="row"></th>
                      <th scope="row"></th>
                      <th scope="row"></th>
                    </tr>
                    <tr>
                        <th scope="row" nbTooltip="Modificar docentes" nbTooltipPlacement="top" nbTooltipStatus="success"  >CU007</th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row" style="text-align: center">
                            <nb-card-body>
                                <button  (click)="open('CU007','RF03_GES_USU_DOC')" style="background-color: rgb(8, 209, 216)">X</button>
                            </nb-card-body>
                        </th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                      </tr>
                      <tr>
                          <th scope="row"  nbTooltip="Eliminar docentes" nbTooltipPlacement="top" nbTooltipStatus="success" >CU008</th>
                          <th scope="row"></th>
                          <th scope="row"></th>
                          <th scope="row" style="text-align: center">
                              <nb-card-body>
                                  <button  (click)="open('CU008','RF03_GES_USU_DOC')" style="background-color: rgb(8, 209, 216)">X</button>
                              </nb-card-body>
                          </th>
                          <th scope="row"></th>
                          <th scope="row"></th>
                          <th scope="row"></th>
                          <th scope="row"></th>
                          <th scope="row"></th>
                          <th scope="row"></th>
                          <th scope="row"></th>
                          <th scope="row"></th>
                          <th scope="row"></th>
                        </tr>
                  <tr>
                    <th scope="row" nbTooltip="Visualizar Administrativos" nbTooltipPlacement="top" nbTooltipStatus="success" >CU009</th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row">
                        <nb-card-body>
                            <button  (click)="open('CU009','RF04_GES_USU_ADM')" style="background-color: rgb(8, 209, 216)">X</button>
                        </nb-card-body>
                    </th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                  </tr>
                  <tr>
                    <th scope="row" nbTooltip="Registrar Administrativos" nbTooltipPlacement="top" nbTooltipStatus="success"  >CU010</th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row">
                        <nb-card-body>
                            <button  (click)="open('CU010','RF04_GES_USU_ADM')" style="background-color: rgb(8, 209, 216)">X</button>
                        </nb-card-body>
                    </th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                  </tr>
                  <tr>
                    <th scope="row" nbTooltip="Modificar Administrativos" nbTooltipPlacement="top" nbTooltipStatus="success" >CU011</th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row">
                      <nb-card-body>
                        <button  (click)="open('CU011','RF04_GES_USU_ADM')" style="background-color: rgb(8, 209, 216)">X</button>
                    </nb-card-body>
            
                    </th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                  </tr>
                  <tr>
                    <th scope="row">CU012</th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row">
                      <nb-card-body>
                        <button  (click)="open('CU012','RF04_GES_USU_ADM')" style="background-color: rgb(8, 209, 216)">X</button>
                    </nb-card-body>
                    </th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                  </tr>
                  <tr>
                    <th scope="row">CU013</th>
                    <th scope="row">
                      <nb-card-body>
                        <button  (click)="open('CU013','RF01_AUT_USU')" style="background-color: rgb(8, 209, 216)">X</button>
                    </nb-card-body>
                    </th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                  </tr>
                  <tr>
                    <th scope="row">CU014</th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row">
                        <nb-card-body>
                            <button  (click)="open('CU014','RF05_GES_MATR')" style="background-color: rgb(8, 209, 216)">X</button>
                        </nb-card-body>
                    </th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                  </tr>
                  <tr>
                    <th scope="row">CU015</th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row">
                        <nb-card-body>
                            <button  (click)="open('CU015','RF05_GES_MATR')" style="background-color: rgb(8, 209, 216)">X</button>
                        </nb-card-body>
                    </th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                  </tr>
                  <tr>
                    <th scope="row">CU016</th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row">
                        <nb-card-body>
                            <button  (click)="open('CU016','RF05_GES_MATR')" style="background-color: rgb(8, 209, 216)">X</button>
                        </nb-card-body>
                    </th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                  </tr>
                  <tr>
                    <th scope="row">CU017</th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row">
                        <nb-card-body>
                            <button  (click)="open('CU017','RF05_GES_MATR')" style="background-color: rgb(8, 209, 216)">X</button>
                        </nb-card-body>
                    </th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                  </tr>
                  <tr>
                    <th scope="row">CU018</th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row">
                        <nb-card-body>
                            <button  (click)="open('CU018','RF06_GES_PEN')" style="background-color: rgb(8, 209, 216)">X</button>
                        </nb-card-body>
                    </th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                  </tr>
                  <tr>
                    <th scope="row">CU019</th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row">
                        <nb-card-body>
                            <button  (click)="open('CU019','RF06_GES_PEN')" style="background-color: rgb(8, 209, 216)">X</button>
                        </nb-card-body>
                    </th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                  </tr>
                  <tr>
                    <th scope="row">CU020</th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row">
                        <nb-card-body>
                            <button  (click)="open('CU020','RF06_GES_PEN')" style="background-color: rgb(8, 209, 216)">X</button>
                        </nb-card-body>
                    </th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                  </tr>
                  <tr>
                    <th scope="row">CU021</th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row">
                        <nb-card-body>
                            <button  (click)="open('CU021','RF06_GES_PEN')" style="background-color: rgb(8, 209, 216)">X</button>
                        </nb-card-body>
                    </th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                  </tr>
                  <tr>
                    <th scope="row">CU022</th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row">
                        <nb-card-body>
                            <button  (click)="open('CU022','RF09_GES_ASIS_DOC')" style="background-color: rgb(8, 209, 216)">X</button>
                        </nb-card-body>
                    </th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                  </tr>
                  <tr>
                      <th scope="row">CU023</th>
                      <th scope="row"></th>
                      <th scope="row"></th>
                      <th scope="row"></th>
                      <th scope="row"></th>
                      <th scope="row"></th>
                      <th scope="row"></th>
                      <th scope="row"></th>
                      <th scope="row"></th>
                      <th scope="row">
                          <nb-card-body>
                              <button  (click)="open('CU023','RF09_GES_ASIS_DOC')" style="background-color: rgb(8, 209, 216)">X</button>
                          </nb-card-body>
                      </th>
                      <th scope="row"></th>
                      <th scope="row"></th>
                      <th scope="row"></th>
                    </tr>
                    <tr>
                        <th scope="row">CU024</th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row">
                            <nb-card-body>
                                <button  (click)="open('CU024','RF08_GES_ASIS_ADM')" style="background-color: rgb(8, 209, 216)">X</button>
                            </nb-card-body>
                        </th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                      </tr>
                      <tr>
                          <th scope="row">CU025</th>
                          <th scope="row"></th>
                          <th scope="row"></th>
                          <th scope="row"></th>
                          <th scope="row"></th>
                          <th scope="row"></th>
                          <th scope="row"></th>
                          <th scope="row"></th>
                          <th scope="row">
                              <nb-card-body>
                                  <button  (click)="open('CU025','RF08_GES_ASIS_ADM')" style="background-color: rgb(8, 209, 216)">X</button>
                              </nb-card-body>
                          </th>
                          <th scope="row"></th>
                          <th scope="row"></th>
                          <th scope="row"></th>
                          <th scope="row"></th>
                        </tr>
                          <tr>
                              <th scope="row">CU026</th>
                              <th scope="row"></th>
                              <th scope="row"></th>
                              <th scope="row"></th>
                              <th scope="row"></th>
                              <th scope="row"></th>
                              <th scope="row"></th>
                              <th scope="row">
                                  <nb-card-body>
                                      <button  (click)="open('CU026','RF07_GES_ASIS_ALU')" style="background-color: rgb(8, 209, 216)">X</button>
                                  </nb-card-body>
                              </th>
                              <th scope="row"></th>
                              <th scope="row"></th>
                              <th scope="row"></th>
                              <th scope="row"></th>
                              <th scope="row"></th>
                            </tr>
                            <tr>
                                <th scope="row">CU027</th>
                                <th scope="row"></th>
                                <th scope="row"></th>
                                <th scope="row"></th>
                                <th scope="row"></th>
                                <th scope="row"></th>
                                <th scope="row"></th>
                                <th scope="row">
                                    <nb-card-body>
                                        <button  (click)="open('CU027','RF07_GES_ASIS_ALU')" style="background-color: rgb(8, 209, 216)">X</button>
                                    </nb-card-body>
                                </th>
                                <th scope="row"></th>
                                <th scope="row"></th>
                                <th scope="row"></th>
                                <th scope="row"></th>
                                <th scope="row"></th>
                              </tr>
                              <tr>
                                  <th scope="row">CU028</th>
                                  <th scope="row"></th>
                                  <th scope="row"></th>
                                  <th scope="row"></th>
                                  <th scope="row"></th>
                                  <th scope="row"></th>
                                  <th scope="row"></th>
                                  <th scope="row"></th>
                                  <th scope="row"></th>
                                  <th scope="row"></th>
                                  <th scope="row">
                                      <nb-card-body>
                                          <button  (click)="open('CU028','RF10_GES_NOT_CUR')" style="background-color: rgb(8, 209, 216)">X</button>
                                      </nb-card-body>
                                  </th>
                                  <th scope="row"></th>
                                  <th scope="row"></th>
                                </tr>
                                <tr>
                                    <th scope="row">CU029</th>
                                    <th scope="row"></th>
                                    <th scope="row"></th>
                                    <th scope="row"></th>
                                    <th scope="row"></th>
                                    <th scope="row"></th>
                                    <th scope="row"></th>
                                    <th scope="row"></th>
                                    <th scope="row"></th>
                                    <th scope="row"></th>
                                    <th scope="row">
                                        <nb-card-body>
                                            <button  (click)="open('CU029','RF10_GES_NOT_CUR')" style="background-color: rgb(8, 209, 216)">X</button>
                                        </nb-card-body>
                                    </th>
                                    <th scope="row"></th>
                                    <th scope="row"></th>
                                  </tr>
                                  <tr>
                                      <th scope="row">CU030</th>
                                      <th scope="row"></th>
                                      <th scope="row"></th>
                                      <th scope="row"></th>
                                      <th scope="row"></th>
                                      <th scope="row"></th>
                                      <th scope="row"></th>
                                      <th scope="row"></th>
                                      <th scope="row"></th>
                                      <th scope="row"></th>
                                      <th scope="row">
                                          <nb-card-body>
                                              <button  (click)="open('CU030','RF10_GES_NOT_CUR')" style="background-color: rgb(8, 209, 216)">X</button>
                                          </nb-card-body>
                                      </th>
                                      <th scope="row"></th>
                                      <th scope="row"></th>
                                    </tr>
                  </tbody>
                </table>
      </ul>
    </nb-card-body>
  </nb-card>


