div{
    border-radius: 0px;
}
.contenedor{
    background-color:#fdffff;
    width:100%;
    height:50px;
}
.contenidointer{
    height:40px;
    width:20%;
    float:left;
    margin: 5px;
    background: #6D0D18;
    text-align: center;
    padding-top: 2%;
    font-family:monospace;
    color: snow;
}

.contenido{
    height:0px;
    width:75%;
    float:left;
    margin: 5px;
    padding-top: 2%;
    font-family:monospace;
}