<div class="modal-header">
        <h4 class="modal-title">Modificar Matricula</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.close(false)">
          <span aria-hidden="true">&times;</span>
        </button>
</div>
<div class="modal-body">
        <form [formGroup]="myformmatricula"> 
          <div class="form-row">
            <div class="form-group col-md-6">
              <div class="row">
                <label class="col-sm-5 col-form-label p-r-0">DNI Alumno</label>
                <div class="col-sm-7">
                        <input
                        formControlName="formdni"
                        type="text"
                        maxlength="30"
                        disabled="true"
                        value={{listaMatriculaAlumnoSeleccionado.AlCod}}
                        class="form-control form-control-sm"
                        placeholder="Documento de Identidad">
                </div>
              </div>
            </div>
      
            <div class="form-group col-md-6">
              <div class="row">
                <label class="col-sm-5 col-form-label p-r-0">Monto depositado</label>
                <div class="col-sm-7">
                        <input
                        formControlName="formdni"
                        type="text"
                        maxlength="30"
                        disabled="true"
                        value={{listaMatriculaAlumnoSeleccionado.MatDetMonPag}}
                        class="form-control form-control-sm"
                        placeholder="Documento de Identidad">
                </div>
              </div>
            </div>
          </div>
      
          <div class="form-row">
            <div class="form-group col-md-6">
              <div class="row">
                <label class="col-sm-5 col-form-label p-r-0">Nombres Completos</label>
                <div class="col-sm-7">
                        <input
                        formControlName="formdni"
                        type="text"
                        maxlength="30"
                        disabled="true"
                        value={{nombrescompletos}}
                        class="form-control form-control-sm"
                        placeholder="Documento de Identidad">
                </div>
              </div>
            </div>
      
          </div>
    
          <div class="form-row">
                <div class="form-group col-md-6">
                  <div class="row">
                    <label class="col-sm-5 col-form-label p-r-0">Programa</label>
                    <div class="col-sm-6">
                      <select  class="form-control" value={{listaMatriculaAlumnoSeleccionado.MatDetMonPag}} formControlName="formcurso">
                          <option value="0">PROGRAMA</option>
                          <option *ngFor="let s of listaCursos" [ngValue]="s.curid">{{s.curdes}} </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-5">
                  <div class="row">
                    <label class="col-sm-2 col-form-label p-r-0">Horario</label>
                    <div class="col-sm-6">
                        <select  class="form-control" formControlName="formhorario">
                            <option value="0">HORARIO</option>
                            <option *ngFor="let s of  listahorario" [ngValue]="s.horid">{{s.mihorario}}</option>
                        </select>
                      </div>
                  </div>
                </div>
              </div>
        </form>
      </div>
      <div class="modal-footer">
        <button nbButton status="success" size="medium" [nbSpinner]="loadingGuardar" nbSpinnerStatus="success" nbSpinnerMessage="" (click)="btn_clickAceptar()">Guardar</button>
        <button type="button" class="btn btn-danger waves-effect text-center m-b-20" (click)="activeModal.close(false)">Cancelar</button>
      </div>
