<nb-card   nbSpinnerSize="xxlarge" >
        
        <nb-card-header>
                <nb-card-header>
                  <div style="text-align: center; background-color: #6D0D18; color: white; height:40px;margin: 5px; padding-top: 8px">CONTROL DE ASISTENCIAS DE ALUMNO</div>
                </nb-card-header>
                <div class="row">
                        <div class="col-md-12 col-lg-6 col-xxxl-6">
                          <nb-card>
                            <nb-card-body>
                                <div  style="width: 30rem;">
                                    <div class="contenedor">
                                        <div class="contenidointer">Periodo</div>
                                        <div class="contenido" >2019-I</div>
                                    </div>
                                    <div class="contenedor">
                                        <div class="contenidointer">Escuela</div>
                                        <div class="contenido" >
                                                Value:{{myInputVariable}}
                                        </div>
                                    </div>
                                </div>
                            </nb-card-body>
                          </nb-card>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xxxl-6">
                            <nb-card>
                                <nb-card-body>
                                    <div  style="width: 30rem;">
                                        <div class="contenedor">
                                            <div class="contenidointer">Seccion</div>
                                            <div class="contenido" >A</div>
                                        </div>
                                        <div class="contenedor">
                                            <div class="contenidointer">Curso</div>
                                            <div class="contenido" >INFORMATICA AVANZADA</div>
                                        </div>
                                    </div>
                                </nb-card-body>
                                </nb-card>
                            </div>
                </div>
                <button type="button" style="border-radius: 0px; background-color: #6D0D18" class="btn btn-success">Guardar</button>

        </nb-card-header>
        <nb-card-body>
          
            <table class="table table-bordered table-hover-cells">
                <thead>
                <tr>
                  <th style="width: 5%">
                    <div class="table-contain">
                      <h6 class="d-flex justify-content-center"><strong>Fila</strong></h6>
                    </div>
                  </th>
                  <th style="width: 10%">
                    <div class="table-contain">
                      <h6 class="d-flex justify-content-center"><strong>DNI</strong></h6>
                    </div>
                  </th>
                  <th style="width: 12%">
                    <div class="table-contain">
                      <h6 class="d-flex justify-content-center"><strong>Nombres</strong></h6>
                    </div>
                  </th>
                  <th style="width: 12%">
                    <div class="table-contain">
                      <h6 class="d-flex justify-content-center"><strong>CUI</strong></h6>
                    </div>
                  </th>
                  <th style="width: 12%">
                    <div class="table-contain">
                      <h6 class="d-flex justify-content-center"><strong>Asistencia</strong></h6>
                    </div>
                  </th>
                </tr>
                </thead>
                <tbody>
    
                <tr *ngFor="let m of alumnoDocentelist; let id = index">
                  <td>
                    <div  class="d-flex flex-column">
                      <div class="d-flex justify-content-center" >
                        <p>{{id + 1}}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div  class="d-flex flex-column">
                      <div class="d-flex justify-content-center" >
                        <p>{{m.aludni}}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div  class="d-flex flex-column">
                      <div class="d-flex justify-content-center" >
                        <p>{{m.alunom}} {{m.aluapepat}} {{m.aluapemat}}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div  class="d-flex flex-column">
                      <div class="d-flex justify-content-center" >
                        <p>{{m.alucui}} </p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div  class="d-flex flex-column">
                      <div class="d-flex justify-content-center" >
                            <div class="row">
                                    <div class="col-lg-6">
                                            <div class="ui-g-12"><p-radioButton name={{id+1}} value="val" [(ngModel)]="val" label="Asistio" ></p-radioButton></div>
                                    </div>
                                    <div class="col-lg-6">
                                            <div class="ui-g-12"><p-radioButton name={{id+1}} value="val" [(ngModel)]="val" label="Falto" ></p-radioButton></div>
                                    </div>
                            </div>
                        <!-- <i class="ion-trash-a mr-4" style="font-size:23px;" placement="top" ngbTooltip="Eliminar Docente"></i>
    
                        <i (click)="editarDocente(m.docdni)" class="ion-edit" style="font-size:23px;" placement="top" ngbTooltip="Editar Docente"></i> -->
                      </div>
                    </div>
                  </td>
       
                </tr>
    
                </tbody>
              </table>

           
          



            <!-- <ng-template pTemplate="body" let-al>
                <tr>
                    <td>{{al.fila}}</td>
                    <td>{{al.aludni}}</td>
                    <td>{{al.alunom}} {{al.aluapepat}} {{al.aluapemat}}</td>
                    <td>{{al.alucui}}</td>
                    <td>
                        <div class="row">
                                <div class="col-lg-6">
                                        <div class="ui-g-12"><p-radioButton name={{al.fila}} value="val" [(ngModel)]="alu" label="Asistio" ></p-radioButton></div>
                                </div>
                                <div class="col-lg-6">
                                        <div class="ui-g-12"><p-radioButton name={{al.fila}} value="val" [(ngModel)]="val" label="Falto" ></p-radioButton></div>
                                </div>
                        </div>
                    </td>
                </tr>
            </ng-template> -->
        
        </nb-card-body>
      </nb-card>
