div {
    border-radius: 0px;
}
.contenedor {
    background-color:#fdffff;
    width:100%;
    height:50px;
}
.letra{
    font-family: monospace;
    font-size: 20px;
}

.contenidointer {
    height:40px;
    width:20%;
    float:left;
    margin: 3px;
    background: #a4abb3;
    text-align: center;
    padding-top: 2%;
    font-family:monospace;
    color: snow;
}
.botonimagen{
    background-image:url("http://www.pngmart.com/files/8/Save-Button-PNG-Transparent-Image.png");
    background-repeat:no-repeat;
    height:100px;
    width:100px;
    background-position:center;
  }
.contenido {
    height:0px;
    width:75%;
    float:left;
    margin: 5px;
    padding-top: 2%;
    font-family:monospace;
    font-family: monospace;
    font-size: 20px;
}
