<nb-card size="medium" [nbSpinner]="loading" nbSpinnerSize="xxlarge">
    <nb-card-header>
      <span>Alumnos</span>
    </nb-card-header>
    <nb-card-body>
      <div class="d-flex justify-content-between">
        <button nbButton class="mb-3" (click)="btnAddAlumno()" style="background-color: #6D0D18">agregar Alumno</button>
        <input
          type="text"
          class="mb-3"
          (change)="filtroDNI($event.target.value)"
          nbInput
          shape="round"
          placeholder="Buscar DNI...">
      </div>
      <table class="table table-bordered table-hover-cells">
        <thead>
        <tr>
          <th style="width: 7%">
            <div class="table-contain">
              <h6 class="d-flex justify-content-center"><strong>Nro</strong></h6>
            </div>
          </th>
          <th style="width: 10%">
            <div class="table-contain">
              <h6 class="d-flex justify-content-center"><strong>DNI</strong></h6>
            </div>
          </th>
          <th style="width: 16%">
            <div class="table-contain">
              <h6 class="d-flex justify-content-center"><strong>Nombres y Apellidos</strong></h6>
            </div>
          </th>
<!--          <th style="width: 12%">-->
<!--            <div class="table-contain">-->
<!--              <h6 class="d-flex justify-content-center"><strong>CUI</strong></h6>-->
<!--            </div>-->
<!--          </th>-->
          <th style="width: 20%">
            <div class="table-contain">
              <h6 class="d-flex justify-content-center"><strong>Datos</strong></h6>
            </div>
          </th>
          <th style="width: 12%">
            <div class="table-contain">
              <h6 class="d-flex justify-content-center"><strong>Correo</strong></h6>
            </div>
          </th>
<!--          <th style="width: 12%">-->
<!--            <div class="table-contain">-->
<!--              <h6 class="d-flex justify-content-center"><strong>Fec Nacimiento</strong></h6>-->
<!--            </div>-->
<!--          </th>-->
          <th style="width: 12%">
            <div class="table-contain">
              <h6 class="d-flex justify-content-center"><strong>Estado Alumno</strong></h6>
            </div>
          </th>
          <th style="width: 12%">
            <div class="table-contain">
              <h6 class="d-flex justify-content-center"><strong>Acciones</strong></h6>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let m of listAlumnos; let indx = index">
          <td>
            <div  class="d-flex flex-column">
              <div class="d-flex justify-content-center" >
                <p>{{indx + 1}}</p>
              </div>
            </div>
          </td>
          <td>
            <div  class="d-flex flex-column">
              <div class="d-flex justify-content-center" >
                <p>{{m.aludni}}</p>
              </div>
            </div>
          </td>
          <td>
            <div  class="d-flex flex-column">
              <div class="d-flex justify-content-center" >
                <p>{{m.alunom}} {{m.aluapepat}} {{m.aluapemat}}</p>
              </div>
            </div>
          </td>
<!--          <td>-->
<!--            <div  class="d-flex flex-column">-->
<!--              <div class="d-flex justify-content-center" >-->
<!--                <p>{{m.alucui}}</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </td>-->
          <td>
            <div  class="d-flex flex-column">
              <div class="d-flex justify-content-center" >
                <p>
                  {{m.aludir}}<br>
                  <strong>Tel: </strong>
                  {{m.alutel}}
                </p>
              </div>
            </div>
          </td>
          <td>
            <div  class="d-flex flex-column">
              <div class="d-flex justify-content-center" >
                <p>{{m.alucorele}}</p>
              </div>
            </div>
          </td>
<!--          <td>-->
<!--            <div  class="d-flex flex-column">-->
<!--              <div class="d-flex justify-content-center" >-->
<!--                <p>{{m.alufecnac}}</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </td>-->
          <td>
            <div  class="d-flex flex-column">
              <div class="d-flex justify-content-center" >
                <p>{{m.aluestreg|alumnoestadoregPipe}}</p>
              </div>
            </div>
          </td>
          <td>
            <div  class="d-flex flex-column">
              <div class="d-flex justify-content-center" >
                <i (click)="cambiarEstado(m)" class="ion-trash-a mr-4" style="font-size:23px;" placement="top" ngbTooltip="Eliminar Alumno"></i>

                <i (click)="editarAlumno(m.aludni)" class="ion-edit" style="font-size:23px;" placement="top" ngbTooltip="Editar Alumno"></i>
              </div>
            </div>
          </td>
     <!--     <td class="text-muted">
            <div  class="d-flex flex-column">
              <div class="d-flex justify-content-center" >
                <p><strong>{{m.EstadoActivo | estadotipomatriculaPipe}}</strong></p>
              </div>
            </div>
          </td>-->
        </tr>

        </tbody>
      </table>
    </nb-card-body>
  </nb-card>
