<nb-card size="medium" [nbSpinner]="loading" nbSpinnerSize="xxlarge">
    <nb-card-header>
      <span>Alumnos</span>
    </nb-card-header>
    <nb-card-body>
      <button nbButton class="mb-3" (click)="btnAddAlumno()">agregar Alumno</button>
      <table class="table table-bordered table-hover-cells">
        <thead>
        <tr>
          <th>
            <div class="table-contain">
              <h6 class="d-flex justify-content-center"><strong>Nro</strong></h6>
            </div>
          </th>
          <th style="width: 10%">
            <div class="table-contain">
              <h6 class="d-flex justify-content-center"><strong>DNI</strong></h6>
            </div>
          </th>
          <th style="width: 12%">
            <div class="table-contain">
              <h6 class="d-flex justify-content-center"><strong>Nombres</strong></h6>
            </div>
          </th>
          <th style="width: 12%">
            <div class="table-contain">
              <h6 class="d-flex justify-content-center"><strong>Apellidos</strong></h6>
            </div>
          </th>
          <th style="width: 12%">
            <div class="table-contain">
              <h6 class="d-flex justify-content-center"><strong>CUI</strong></h6>
            </div>
          </th>
          <th style="width: 12%">
            <div class="table-contain">
              <h6 class="d-flex justify-content-center"><strong>Usuario</strong></h6>
            </div>
          </th>
          <th style="width: 10%">
            <div class="table-contain">
              <h6 class="d-flex justify-content-center"><strong>Telefono</strong></h6>
            </div>
          </th>
          <th style="width: 12%">
            <div class="table-contain">
              <h6 class="d-flex justify-content-center"><strong>Direccion</strong></h6>
            </div>
          </th>
          <th style="width: 12%">
            <div class="table-contain">
              <h6 class="d-flex justify-content-center"><strong>Correo</strong></h6>
            </div>
          </th>
          <th style="width: 12%">
            <div class="table-contain">
              <h6 class="d-flex justify-content-center"><strong>Fec Nacimiento</strong></h6>
            </div>
          </th>
          <th style="width: 12%">
            <div class="table-contain">
              <h6 class="d-flex justify-content-center"><strong>Estado Alumno</strong></h6>
            </div>
          </th>
          <th style="width: 12%">
            <div class="table-contain">
              <h6 class="d-flex justify-content-center"><strong>Acciones</strong></h6>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let m of listAlumnos; let id = index">
          <td>
            <div  class="d-flex flex-column">
              <div class="d-flex justify-content-center" >
                <p>{{id + 1}}</p>
              </div>
            </div>
          </td>
          <td>
            <div  class="d-flex flex-column">
              <div class="d-flex justify-content-center" >
                <p>{{m.AlDni}}</p>
              </div>
            </div>
          </td>
          <td>
            <div  class="d-flex flex-column">
              <div class="d-flex justify-content-center" >
                <p>{{m.AlNom}}</p>
              </div>
            </div>
          </td>
          <td>
            <div  class="d-flex flex-column">
              <div class="d-flex justify-content-center" >
                <p>{{m.AlApePat}} {{m.AlApeMat}}</p>
              </div>
            </div>
          </td>
          <td>
            <div  class="d-flex flex-column">
              <div class="d-flex justify-content-center" >
                <p>{{m.AlCui}}</p>
              </div>
            </div>
          </td>
          <td>
            <div  class="d-flex flex-column">
              <div class="d-flex justify-content-center" >
                <p>{{m.AlNomUsu}}</p>
              </div>
            </div>
          </td>
          <td>
            <div  class="d-flex flex-column">
              <div class="d-flex justify-content-center" >
                <p>{{m.AlTel}}</p>
              </div>
            </div>
          </td>
          <td>
            <div  class="d-flex flex-column">
              <div class="d-flex justify-content-center" >
                <p>{{m.AlDir}}</p>
              </div>
            </div>
          </td>
          <td>
            <div  class="d-flex flex-column">
              <div class="d-flex justify-content-center" >
                <p>{{m.AlCorEle}}</p>
              </div>
            </div>
          </td>
          <td>
            <div  class="d-flex flex-column">
              <div class="d-flex justify-content-center" >
                <p>{{m.AlFecNac}}</p>
              </div>
            </div>
          </td>
          <td>
            <div  class="d-flex flex-column">
              <div class="d-flex justify-content-center" >
                <p>{{m.AlEstReg}}</p>
              </div>
            </div>
          </td>
          <td>
            <div  class="d-flex flex-column">
              <div class="d-flex justify-content-center" >
                <i class="ion-trash-a mr-4" style="font-size:23px;" placement="top" ngbTooltip="Eliminar Alumno"></i>

                <i (click)="editarAlumno(m.AlDni)" class="ion-edit" style="font-size:23px;" placement="top" ngbTooltip="Editar Alumno"></i>
              </div>
            </div>
          </td>
     <!--     <td class="text-muted">
            <div  class="d-flex flex-column">
              <div class="d-flex justify-content-center" >
                <p><strong>{{m.EstadoActivo | estadotipomatriculaPipe}}</strong></p>
              </div>
            </div>
          </td>-->
        </tr>

        </tbody>
      </table>
    </nb-card-body>
  </nb-card>
