<div class="row">
    <div class="col-xxl-2">
      <div class="row">
        <div class="col-md-6">
            <nb-card size="xsmall">  
                    <nb-card-body>   
                                <nb-alert status="danger" > <H3 style="text-align: center" style="font-family:Georgia, 'Times New Roman', Times, serif ;text-align: center ;color: cornsilk"> MATRICULA </H3>   </nb-alert>
                                <nb-alert status="disabled" accent="success">REGISTRO DE MATRICULA</nb-alert>   
                    </nb-card-body>    
            </nb-card>
        </div>
        <div class="col-md-6">
            <nb-card size="xsmall">  
                    <nb-card-body>   
                            <nb-alert status="success" > <H3 style="text-align: center" style="font-family:Georgia, 'Times New Roman', Times, serif ;text-align: center ;color: cornsilk"> ALUMNOS </H3>   </nb-alert>
                            <nb-alert status="disabled" accent="success">REGISTRO DE ALUMNOS</nb-alert>   
                </nb-card-body>    
            </nb-card>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
        <div class="col-xxl-2">
          <div class="row">
            <div class="col-md-6">
                <nb-card size="xsmall">  
                    <nb-card-body>   
                                <nb-alert status="primary" > <H3 style="text-align: center" style="font-family:Georgia, 'Times New Roman', Times, serif ;text-align: center ;color: cornsilk"> ASISTENCIA</H3>   </nb-alert>
                                <nb-alert status="disabled" accent="success">REGISTRO DE ASISTENCIA</nb-alert>   
                    </nb-card-body>        
                </nb-card>
            </div>
            <div class="col-md-6">
                <nb-card size="xsmall">  
                    <nb-card-body>   
                                <nb-alert status="info" > <H3 style="text-align: center" style="font-family:Georgia, 'Times New Roman', Times, serif ;text-align: center ;color: cornsilk"> PENSIONES </H3>   </nb-alert>
                                <nb-alert status="disabled" accent="success">REGISTRO DE PENSIONES</nb-alert>   
                    </nb-card-body>    
                </nb-card>
            </div>
          </div>
        </div>
      </div>