<nb-card size="medium" [nbSpinner]="loading" nbSpinnerSize="xxlarge">
        <nb-card-header>
          <span>Programa</span>
        </nb-card-header>
        <!-- <nb-card-body>
          <button nbButton class="mb-3" (click)="btnAddAlumno()">agregar Programa</button>
          <table class="table table-bordered table-hover-cells">
            <thead>
            <tr>
              <th>
                <div class="table-contain">
                  <h6 class="d-flex justify-content-center"><strong>Codigo del Curso</strong></h6>
                </div>
              </th>
              <th style="width: 10%">
                <div class="table-contain">
                  <h6 class="d-flex justify-content-center"><strong>Descripcion del Curso</strong></h6>
                </div>
              </th>
            </tr>
            </thead>
            <tbody>
    
            <tr *ngFor="let m of listAlumnos; let id = index">
              <td>
                <div  class="d-flex flex-column">
                  <div class="d-flex justify-content-center" >
                    <p>{{curcod}}</p>
                  </div>
                </div>
              </td>
              <td>
                <div  class="d-flex flex-column">
                  <div class="d-flex justify-content-center" >
                    <p>{{m.curdes}}</p>
                  </div>
                </div>
              </td>
              <td>
                    <div  class="d-flex flex-column">
                      <div class="d-flex justify-content-center" >
                        <p>{{m.curestreg}}</p>
                      </div>
                    </div>
                  </td>
              <td>
                <div  class="d-flex flex-column">
                  <div class="d-flex justify-content-center" >
                    <i class="ion-trash-a mr-4" style="font-size:23px;" placement="top" ngbTooltip="Eliminar Alumno"></i>
    
                    <i (click)="editarAlumno(m.curid)" class="ion-edit" style="font-size:23px;" placement="top" ngbTooltip="Editar Programa"></i>
                  </div>
                </div>
              </td>
            <td class="text-muted">
                <div  class="d-flex flex-column">
                  <div class="d-flex justify-content-center" >
                    <p><strong>{{m.EstadoActivo | estadotipomatriculaPipe}}</strong></p>
                  </div>
                </div>
              </td>
            </tr>
    
            </tbody>
          </table>
        </nb-card-body> -->
      </nb-card>
    