<nb-card size="medium" [nbSpinner]="loading" nbSpinnerSize="xxlarge">
    <nb-card-header>
      <span>Horario</span>

      
    </nb-card-header>
    <nb-card-body>

        <table >
            <tr>
                <th colspan="6" style="font-family: cursive;font-size: 15px;">MAÑANA</th>
            </tr>
            <tr>
                <th colspan="6">SEGURIDAD EN OPERACIONES MINERA</th>
            </tr>
            <tr>
              <th>Horario</th>
              <th>Lunes</th>
              <th>Mastes</th>
              <th>Miercoles</th>
              <th>Jueves</th>
              <th>Viernes</th>
            </tr>
            <tr>
              <th>8:00 -  8:45</th>
              <td rowspan="4">Matematica</td>
              <td rowspan="4">Fisica</td>
              <td rowspan="4">Quimica</td>
              <td rowspan="4">Biologia</td>
              <td rowspan="2">Historia</td>
            </tr>
            <tr>
              <th>8:45 - 9:30</th>          
            </tr> 
            <tr>
                <th>9:30 - 10:15</th>
                <td rowspan="2">Fisica</td>
            </tr> 
            <tr>
                <th>10:15 - 11:00</th>          
            </tr> 
          
            <!-- <tr>
          
              <th>Segundo año</th>
          
              <td>$9.99</td>
          
              <td>$29.99</td>
          
            </tr> -->
          
          </table>

      <!-- <table  style="border: solid" >
        <tr>
          <th colspan="6" >Time Tabla</th>
        </tr>
        <tr>
          <th rowspan="6">Horas</th>
          <th>Lunes</th>
          <th>Martes</th>
          <th>Miercoles</th>
          <th>Jueves</th>
          <th>Viernes</th>
        </tr>

        <tr>
          <td>Fisicaaaaaaaaaaaaaaa</td>
          <td>Quimica</td>
          <td>Matematica</td>
          <td>Historia</td>
          <td>Historia</td>


        </tr>
      </table> -->



        <!-- <div class="row show-grid">
            <div class="col-md-2">
              <div>Horario</div>
            </div>
            <div class="col-md-2">
              <div>Lunes</div>
            </div>
            <div class="col-md-2">
              <div>Martes</div>
            </div>
            <div class="col-md-2">
              <div>Miercoles</div>
            </div>
            <div class="col-md-2">
              <div>Jueves</div>
            </div>
            <div class="col-md-2">
              <div>Viernes</div>
            </div>
          </div> -->
      <!-- <div class="row show-grid">
        <div class="col-md-2">
          <div>8:00 - 8:45</div>
        </div>
        <div class="col-md-2">
          <div>Matematica</div>
        </div>
        <div class="col-md-2">
          <div>Gastronomia Empresarial</div>
        </div>
        <div class="col-md-2">
          <div>Fisica Cuantica</div>
        </div>
        <div class="col-md-2">
          <div>Quimica Inorganica</div>
        </div>
        <div class="col-md-2">
          <div>Quimica Organica </div>
        </div>
      </div> -->
    </nb-card-body>

  </nb-card>
