<nb-card size="medium" [nbSpinner]="loading" nbSpinnerSize="xxlarge">
  <nb-card-header>
    <span>Detalles Matricula</span>
  </nb-card-header>
  <nb-card-body>
    <div class="row justify-content-between m-b-0 p-b-0">
      <div class="col-md-2">
        <button nbButton class="mb-3" (click)="btnAddDetalle()">Agregar Detalle</button>
      </div>
    </div>

    <table class="table table-bordered table-hover-cells">
      <thead>
      <tr>
        <th style="width: 10%">
          <div class="table-contain">
            <h6 class="d-flex justify-content-center"><strong>Nro</strong></h6>
          </div>
        </th>
        <th style="width: 10%">
          <div class="table-contain">
            <h6 class="d-flex justify-content-center"><strong>Horario</strong></h6>
          </div>
        </th>
        <th style="width: 12%">
          <div class="table-contain">
            <h6 class="d-flex justify-content-center"><strong>Nombre Banco</strong></h6>
          </div>
        </th>
        <th style="width: 12%">
          <div class="table-contain">
            <h6 class="d-flex justify-content-center"><strong>Codigo de Pago</strong></h6>
          </div>
        </th>
        <th style="width: 12%">
          <div class="table-contain">
            <h6 class="d-flex justify-content-center"><strong>Monto Pagado</strong></h6>
          </div>
        </th>
        <th style="width: 12%">
          <div class="table-contain">
            <h6 class="d-flex justify-content-center"><strong>Fecha Matriculado</strong></h6>
          </div>
        </th>
        <th style="width: 12%">
          <div class="table-contain">
            <h6 class="d-flex justify-content-center"><strong>Observaciones</strong></h6>
          </div>
        </th>
        <th style="width: 12%">
          <div class="table-contain">
            <h6 class="d-flex justify-content-center"><strong>Estado</strong></h6>
          </div>
        </th>
        <th style="width: 12%">
          <div class="table-contain">
            <h6 class="d-flex justify-content-center"><strong>Acciones</strong></h6>
          </div>
        </th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let m of listDetalles; let id = index">
        <td>
          <div  class="d-flex flex-column">
            <div class="d-flex justify-content-center" >
              <p>{{id + 1}}</p>
            </div>
          </div>
        </td>
        <td>
          <div  class="d-flex flex-column">
            <div class="d-flex justify-content-center" >
              <p>{{m.turcodmos}}</p>
            </div>
          </div>
        </td>
        <td>
          <div  class="d-flex flex-column">
            <div class="d-flex justify-content-center" >
              <p>{{m.matdetnomban}}</p>
            </div>
          </div>
        </td>
        <td>
          <div  class="d-flex flex-column">
            <div class="d-flex justify-content-center" >
              <p>{{m.matdetcodpag}}</p>
            </div>
          </div>
        </td>
        <td>
          <div  class="d-flex flex-column">
            <div class="d-flex justify-content-center" >
              <p>{{m.matdetmonpag}}</p>
            </div>
          </div>
        </td>
        <td>
          <div  class="d-flex flex-column">
            <div class="d-flex justify-content-center" >
              <p>{{m.matdetfec}}</p>
            </div>
          </div>
        </td>
        <td>
          <div  class="d-flex flex-column">
            <div class="d-flex justify-content-center" >
              <p>{{m.matdetobs}}</p>
            </div>
          </div>
        </td>
        <td>
          <div  class="d-flex flex-column">
            <div class="d-flex justify-content-center" >
              <p>{{m.matdetestreg | matriculaestadoregPipe}}</p>
            </div>
          </div>
        </td>

        <td>
          <div  class="d-flex flex-column">
            <div class="d-flex justify-content-center" >
              <i (click)="cambiarEstadoDetalle(m)" class="ion-trash-a mr-4" style="font-size:23px;" placement="top" ngbTooltip="Eliminar Detalle"></i>

              <i (click)="editarDetalle(m.matdetid)" class="ion-edit" style="font-size:23px;" placement="top" ngbTooltip="Editar Detalle"></i>
            </div>
          </div>
        </td>

        <!--     <td class="text-muted">
               <div  class="d-flex flex-column">
                 <div class="d-flex justify-content-center" >
                   <p><strong>{{m.EstadoActivo | estadotipomatriculaPipe}}</strong></p>
                 </div>
               </div>
             </td>-->
      </tr>

      </tbody>
    </table>
  </nb-card-body>
</nb-card>
