<nb-card size="medium" [nbSpinner]="loading" nbSpinnerSize="xxlarge">
        <nb-card-header>
          <span>Administrativo</span>
        </nb-card-header>
        <nb-card-body>
          <button style="background-color: #6D0D18" nbButton class="mb-3" (click)="btnAddAdministrativo()">Agregar Administrativo</button>
          <table class="table table-bordered table-hover-cells">
            <thead>
            <tr>
              <th>
                <div class="table-contain">
                  <h6 class="d-flex justify-content-center"><strong>Nro</strong></h6>
                </div>
              </th>
              <th style="width: 10%">
                <div class="table-contain">
                  <h6 class="d-flex justify-content-center"><strong>DNI</strong></h6>
                </div>
              </th>
              <th style="width: 12%">
                <div class="table-contain">
                  <h6 class="d-flex justify-content-center"><strong>Nombres</strong></h6>
                </div>
              </th>
              <th style="width: 12%">
                <div class="table-contain">
                  <h6 class="d-flex justify-content-center"><strong>Apellidos</strong></h6>
                </div>
              </th>
              <!-- <th style="width: 12%">
                <div class="table-contain">
                  <h6 class="d-flex justify-content-center"><strong>CUI</strong></h6>
                </div>
              </th> -->
              <th style="width: 12%">
                <div class="table-contain">
                  <h6 class="d-flex justify-content-center"><strong>Usuario</strong></h6>
                </div>
              </th>
              <th style="width: 10%">
                <div class="table-contain">
                  <h6 class="d-flex justify-content-center"><strong>Telefono</strong></h6>
                </div>
              </th>
              <th style="width: 12%">
                <div class="table-contain">
                  <h6 class="d-flex justify-content-center"><strong>Direccion</strong></h6>
                </div>
              </th>
              <th style="width: 12%">
                <div class="table-contain">
                  <h6 class="d-flex justify-content-center"><strong>Correo</strong></h6>
                </div>
              </th>
              <th style="width: 12%">
                <div class="table-contain">
                  <h6 class="d-flex justify-content-center"><strong>Fec Nacimiento</strong></h6>
                </div>
              </th>
              <th style="width: 12%">
                <div class="table-contain">
                  <h6 class="d-flex justify-content-center"><strong>Estado</strong></h6>
                </div>
              </th>
              <th style="width: 12%">
                <div class="table-contain">
                  <h6 class="d-flex justify-content-center"><strong>Acciones</strong></h6>
                </div>
              </th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let m of listAdtvo; let id = index">
              <td>
                <div  class="d-flex flex-column">
                  <div class="d-flex justify-content-center" >
                    <p>{{id + 1}}</p>
                  </div>
                </div>
              </td>
              <td>
                <div  class="d-flex flex-column">
                  <div class="d-flex justify-content-center" >
                    <p>{{m.admdni}}</p>
                  </div>
                </div>
              </td>
              <td>
                <div  class="d-flex flex-column">
                  <div class="d-flex justify-content-center" >
                    <p>{{m.admnom}}</p>
                  </div>
                </div>
              </td>
              <td>
                <div  class="d-flex flex-column">
                  <div class="d-flex justify-content-center" >
                    <p>{{m.admapepat}} {{m.admpemat}}</p>
                  </div>
                </div>
              </td>
              <td>
                <div  class="d-flex flex-column">
                  <div class="d-flex justify-content-center" >
                    <p>{{m.admnomusu}}</p>
                  </div>
                </div>
              </td>
              <td>
                <div  class="d-flex flex-column">
                  <div class="d-flex justify-content-center" >
                    <p>{{m.admtel}}</p>
                  </div>
                </div>
              </td>
              <td>
                <div  class="d-flex flex-column">
                  <div class="d-flex justify-content-center" >
                    <p>{{m.admdir}}</p>
                  </div>
                </div>
              </td>
              <td>
                <div  class="d-flex flex-column">
                  <div class="d-flex justify-content-center" >
                    <p>{{m.admcorele}}</p>
                  </div>
                </div>
              </td>
              <td>
                <div  class="d-flex flex-column">
                  <div class="d-flex justify-content-center" >
                    <p>{{m.admfecnac}}</p>
                  </div>
                </div>
              </td>
              <td>
                <div  class="d-flex flex-column">
                  <div class="d-flex justify-content-center" >
                    <p>{{m.admestreg}}</p>
                  </div>
                </div>
              </td>
              <td>
                <div  class="d-flex flex-column">
                  <div class="d-flex justify-content-center" >
                    <i class="ion-trash-a mr-4" style="font-size:23px;" placement="top" ngbTooltip="Eliminar Administrativo"></i>

                    <i (click)="editarAdministrativo(m.admdni)" class="ion-edit" style="font-size:23px;" placement="top" ngbTooltip="Editar Administrativo"></i>
                  </div>
                </div>
              </td>
         <!--     <td class="text-muted">
                <div  class="d-flex flex-column">
                  <div class="d-flex justify-content-center" >
                    <p><strong>{{m.EstadoActivo | estadotipomatriculaPipe}}</strong></p>
                  </div>
                </div>
              </td>-->
            </tr>

            </tbody>
          </table>
        </nb-card-body>
      </nb-card>
