<nb-card size="medium" [nbSpinner]="loading" nbSpinnerSize="xxlarge">
    <nb-card-header>
        <nb-alert status="active"  style="align-items: center;font-family:monospace;background-color: #a4abb3 ">Pensiones</nb-alert>
    </nb-card-header> 
    <nb-card-body>
      <div class="row">        
        <div class="col-md-3">
            <div class="input-group has-person-icon">
              <input
                (keyup.enter)="listarPensionesxDni(inputBuscar)"
                [(ngModel)]="inputBuscar"
                type="text"
                placeholder="Buscar por DNI"
                shape="round"
                class="form-control"/>
            </div>
            <br>
        </div>
    </div>
      <table class="table table-bordered table-hover-cells">
        <thead>
        <tr>
            <th style="width: 12%">
                <div class="table-contain">
                  <h6 class="d-flex justify-content-center"><strong>N</strong></h6>
                </div>
            </th>
            <th style="width: 12%">
                <div class="table-contain">
                  <h6 class="d-flex justify-content-center"><strong>DNI</strong></h6>
                </div>
            </th>
          <th style="width: 15%">
            <div class="table-contain">
              <h6 class="d-flex justify-content-center"><strong>Nombre del Alumno</strong></h6>
            </div>
          </th>
          <th style="width: 10%">
            <div class="table-contain">
              <h6 class="d-flex justify-content-center"><strong>Sede</strong></h6>
            </div>
          </th>
          <th style="width: 20%">
            <div class="table-contain">
              <h6 class="d-flex justify-content-center"><strong>Programa</strong></h6>
            </div>
          </th>
          <th style="width: 12%">
            <div class="table-contain">
              <h6 class="d-flex justify-content-center"><strong>Fecha</strong></h6>
            </div>
          </th>
          <th style="width: 12%">
              <div class="table-contain">
                <h6 class="d-flex justify-content-center"><strong>Acciones</strong></h6>
              </div>
            </th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let m of listPension; let id = index">
            <td>
                <div  class="d-flex flex-column">
                  <div class="d-flex justify-content-center" >
                    <p>{{id+1}}</p>
                  </div>
                </div>
            </td>       
          <td>
            <div  class="d-flex flex-column">
              <div class="d-flex justify-content-center" >
                <p>{{m.aludni}}</p>
              </div>
            </div>
          </td>
          <td>
            <div  class="d-flex flex-column">
              <div class="d-flex justify-content-center" >
                {{m.alunom}} {{m.aluapepat}} {{m.aluapemat}}  
              </div>
            </div>
          </td>
          <td>
            <div  class="d-flex flex-column">
              <div class="d-flex justify-content-center" >
                <p>{{m.seddes}}</p>
              </div>
            </div>
          </td>
          <td>
            <div  class="d-flex flex-column">
              <div class="d-flex justify-content-center" >
                <p>{{m.pronom}}</p>
              </div>
            </div>
          </td>
          <td>
              <div  class="d-flex flex-column">
                <div class="d-flex justify-content-center" >
                  <p>{{m.matfec}}</p>
                </div>
              </div>
            </td>
          <td>
            <div  class="d-flex flex-column">
              <div class="d-flex justify-content-center" >            
                <i (click)="abrirDetallesPensiones(m.matid,m)" class="ion-clipboard" style="font-size:23px;" placement="top" ngbTooltip="Ver Pensiones"></i>                
              </div>
            </div>
          </td>
        </tr>

        </tbody>
      </table>
    </nb-card-body>
  </nb-card>
